<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mslearnsamplefunctionpl400.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6c8350fc-5737-49ba-9d12-f233d2c66f9b/resourcegroups/pl400-train/providers/Microsoft.Web/sites/MSLearnSampleFunctionPl400</ResourceId>
    <UserName>$MSLearnSampleFunctionPl400</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mslearnsamplefunctionpl400.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>